@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

/********** ESTILOS PARA EL HEADER **********/

header p {
  background-color: #1cd1b0;
  padding: 2px 0px 2px 10px;
}

h1 {
  background-color: #00669f;
  color: white;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0px 0px 20px grey;
}

/********** ESTILOS PARA EL MAIN **********/

section {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

section article {
  background-color: #f3f3f3;
  border-radius: 16px 16px 0 0;
  box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25);
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 300px;
}

section article .contenedor {
  height: 200px;
  width: 300px;
  border-radius: 16px 16px 0 0;
  background-size: cover;
}

section article .contenedor i {
  font-size: 24px;
  color: red;
  padding: 15px;
}

section article .bgBatman {
  background-image: url("../img/fondoBatman.png");
}
section article .bgHarley {
  background-image: url("../img/fondoHarleyQuinn.png");
}
section article .bgSuperman {
  background-image: url("../img/fondoSuperman.png");
}
section article .bgWonderWoman {
  background-image: url("../img/849bfede3a5193c34ab8a00379e64fa2\ 1\ \(3\).png");
}

section article img {
  border-radius: 50%;
  width: 125px;
  position: absolute;
  top: 130px;
}

section article h3 {
  font-size: 24px;
  margin-top: 70px;
  text-transform: uppercase;
}

section article p {
  font-size: 12px;
  height: 120px;
  margin: 10px 20px;
  text-align: left;
}

section article button {
  background-color: #00669f;
  border: none;
  color: white;

  margin: 25px;
  padding: 10px 30px;
}

#button-more {
  border: none;
  border-radius: 100%;
  background-color: #FFFFFF;
  position: absolute;
  left: 94vw;
  top: 40vh;
  height: 80px;
  width: 80px;
  background-image: url(../img/Button.png);
}

#button-more:active{
  background-image: url(../img/Button\ \(1\).png);
}




/********** ESTILOS PARA EL FOOTER **********/

footer {
  background-color: #00669f;
  color: white;
  padding: 30px 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer img {
  position: absolute;
  right: 25px;
  width: 100px;
}

/* formulario */
.form {
  background-color:#00669f;
  margin: 40px;
  position: relative;
  left: 17%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
  width: 60vw;
  color: #FFFFFF;
  border-radius: 50px;
  
}

form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;  
  height: 60vh;
  width: 50vw;
  
}

form label{
  margin-left: 20px;
}

form input {
  width: 400px;
  height: 50px;
  margin: 20px 20px;
  border: none;
  border-radius: 20px;
  padding: 15px;
}

#descripcion {
  height: 300px;
  
}

#espe {
  width: 40%;
  height: 50px;
  margin: 20px 0px;
  border: none;
  border-radius: 20px;
  padding: 10px;
}

.poderes {
  width: 50%;
  margin: 30px 0px;
}

.poderes input{
  height: 20px;
  width: 20px;
  padding: 0px;
  margin: 5px;
}

.mycheck {
  cursor: pointer;
  background-color: #fff;
  appearance: none;
  transition: 0.3s ease-in-out;
  
}

.mycheck:checked {
    background-color: #1cd1b0;
    transition: 0.3s ease-in-out;
    background-image: url(../img/corazon.png);
    z-index: -1;
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: center;    
}

hr {
  width: 20vw;
}

.tipo {
  height: 100px;
}

.tipo input{
  height: 20px;
  width: 20px;
  padding: 0px;
  margin: 8px;
}

.titles h2{
    font-size: 40px;
    text-align: center;
    margin: 0px;
}

.titles h5 {
  font-size: 20px;
  text-align: center;
  font-weight: lighter;
  margin-bottom: 30px;
}

#añadir {
  border: none;
  background-color: #1cd1b0;
  color: #001D2D;
  height: 100px;
  width: 400px;
  border-radius: 30px;
  font-size: 50px;
  font-weight: 700;
}

#añadir:active {
  background-color: #001D2D;
  color: #f3f3f3;
  border: solid 2px #D1891C ;
  
}

h4 {
  font-size: 15px;
  font-weight: lighter;
  margin: 5px;
}

/*** Responsive */

/* Tablet */
@media (max-width: 768px) {
  section article{
    margin: 50px 0;
    }

    header p{
      background-color: #D1891C;
    }
}

/* Mobile */
@media (max-width: 480px) {

   #Harley{
    display:none
   }

   footer img{
      height: 20%;
      position: absolute;
      right: 5px;
   }

   footer p{
    font-size: small;
   }
}